.container {

}

.sidebar {
    position: relative;

    display: block;
}

#tetris {
    margin: 20px auto;
    background-color: aliceblue;
    display: inline-block;
}

#tetris-container {
	text-align: center;
	width: 320px;
	margin: 0px auto;	
    background-color:  #DDD;    
}

#tetris ul.row {
    list-style: none;
    padding: 0;
    margin: 0;
}
#tetris ul.row > li {
    float: left;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border:1px solid #eee;
}

#tetris ul.row > li.ground {
	background-color: #555;
}

#tetris ul.row > li.element {
	background-color: red;
}

#end-game {
	display: none;
	background-color: #f0f0f0;
	padding: 20px;
}